@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Marcellus:wght@300;400;500;700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"); */
/*@import url("https://fonts.googleapis.com/css2?family=Delius:wght@300;400;500;700&display=swap");*/

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Marcellus", sans-serif;
}

.font-ubuntu {
  font-family: "Ubuntu", sans-serif;
}

p {
  @apply indent-6 sm:indent-10 first-letter:text-lg sm:first-letter:text-2xl leading-7 sm:leading-8 md:leading-9;
}

#__next {
  @apply flex flex-col;
  width: 100vw;
  height: 100vh;
}
