@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&family=Marcellus:wght@300;400;500;700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"); */
/*@import url("https://fonts.googleapis.com/css2?family=Delius:wght@300;400;500;700&display=swap");*/

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Marcellus", sans-serif;
}

* {
  box-sizing: border-box
}

.font-ubuntu {
  font-family: "Ubuntu", sans-serif;
}

p {
  @apply indent-6 sm:indent-10 first-letter:text-lg sm:first-letter:text-2xl leading-7 sm:leading-8 md:leading-9;
}

#__next {
  @apply flex flex-col;
  box-sizing: border-box;
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
}

.media-element {
  /* padding: 4px; */
  /* padding: 8px; */
  /* background-color: #ddd0c0; */
  border-radius: 4px;
}

.media-element > img {
  inline-size: 100%;
  /* border: 1px solid #ecdac9;
  border-radius: 6px; */
}

/* ::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: #f9ecd8;
}

::-webkit-scrollbar-thumb {
  background-color: #713f12;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: greenyellow;
}

::-webkit-scrollbar-track-piece {
  background-color: #e1ceb2;
} */